<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% block stylesheetsAux %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body id="home" {% block cssBody %}{% endblock %}>
        {% block body %}{% endblock %}
        {% block javascripts %}
        
        {% endblock %}
        {% block javascriptsAux %}{% endblock %}
    </body>
</html>